<div *ngIf="hotels?.length; else notask">
  <div class="container">
    <p class="font">Se encontraron
      <strong>{{ hotels.length }} </strong> de 9999 hoteles</p>
    <div class="box" *ngFor="let hotel of hotels">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img class="minbox" src="../../../assets/images/minbox.png" />
          </div>
          <div class="col-lg-5">
            <p class="fontHotelName"> {{ hotel.nombre }}</p>
            <div class="row">
              <div class="col-lg-3">
                <p class="pinkbox">{{ hotel.calificacion }}</p>
              </div>
              <div class="col-lg-9">
                <p class="comentarios">917 opiniones</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-1">
                <div class="vl"></div>
              </div>
              <div class="col-lg-10">
                <div class="boxPrice">
                  <p class="font">Precio por habitación</p>
                  <p class="fontPrice">$ {{ hotel.precio | currency: $: 3}}</p>
                  <button type="button" class="btn btn-success btn-lg">Ver más ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #notask>
  <div class="container">
    <h3 class="font">No se encontraron resultados,intente nuevamente.</h3>
  </div>
</ng-template>